@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  box-sizing: border-box;
}
* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa !important;
  font-family: 'Nunito' !important;
}
p {
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8d8d8d;
}
